.status-bar {
  padding: 0 5px;
  background-color: #24273a;
  color: #cad3f5;
  font-family: "CaskaydiaMono Nerd Font Mono";
  font-size: 16px;
}

.top {
  padding-top: 12px;
}

.dashboard-button {
  font-size: 24px;

  .active, .inactive:hover {
    border-radius: 8px;
    background-color: #363a4f;
  }
}

.workspaces {
  padding: 8px 0;

  .active {
    font-weight: 900;
  }

  .inactive {
    opacity: 0.2;
  }
}


.timer {

  button {
    padding: 4px 0;
    border-radius: 8px;
  }
  .active {
    background-color: #363a4f;
  }
}

.clock {

  button {
    font-weight: bold;
    padding: 8px 0;
    border-radius: 8px;
  }

  button:hover, .active{
    background-color: #363a4f;
  }
}


.calendar-box {
  border-radius: 16px;
  background-color: #24273a;
  color: #cad3f5;
  .calendar {
    margin-top: 8px;
    padding: 2px 4px;
    .view {

  }}
  .calendar:selected {
    border-radius: 8px;
    background-color: #eed49f;
    color: #181926;
  }
}

.bottom {
  padding-bottom: 10px;
}

.bright {
  scale trough highlight {
    background-color: #8aadf4;
  }

  .label {
    font-weight: bold;
  }

  .button {
    padding: 4px 0;
    font-size: 16px;
  }
}

.vol {
  scale trough highlight {
    background-color: #c6a0f6;
  }

  .label {
    font-weight: bold;
  }

  .button {
    padding: 4px 0;
    font-size: 24px;
  }
}

scale {
  all: unset;
  padding: 4px 0;

  trough{
    min-height: 80px;
    min-width: 10px; 
    border-radius: 10px;
    background-color: #494d64;

    highlight {
      border-radius: 10px;
    }
  }
}
