.Dashboard {
  font-family: "CaskaydiaMono Nerd Font Mono";
}

.profile {
  border-radius: 20px;
  background-color: #24273a;
  color: #cad3f5;

  .face {
    border-width: 3px;
    border-color: #6e738d;
    border-style: solid;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  .username {
    font-size: 12px;
  }
}

.weather {
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  background-color: #24273a;
  color: #cad3f5;

  .top-box {
    padding: 0 50px;

    .icon {
      font-size: 80px;
    }

    .text {
      font-size: 20px;     
    }
  }

  .bottom-box {

    .title {
      border-width: 2px;
      border-color: #cad3f5;
      border-style: solid solid none solid;

      button:hover {
        background-color: #363a4f;
      }
    }

    .stack-box {
      border-style: solid;
      border-width: 2px;
      border-color: #cad3f5;
      border-radius: 0 0 20px 20px;
      
      .item-box {
        border-style: none none none solid;
        border-width: 2px;
        border-color: #cad3f5;
      }

      .title {
        border-style: solid none none none;
        border-width: 2px;
        border-color: #cad3f5;
      }

      .value {
        padding: 0 10px;
        border-style: solid none none none;
        border-width: 2px;
        border-color: #cad3f5;
        font-weight: normal;
      }
    }
  }
}

.todolist {
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #24273a;
  color: #cad3f5;

  .item {
    
    .button {
        font-size: 32px;
    }

    .label {
    }

  }

}

.box {
  padding: 16px;
  background-color: #24273a;
  border-radius: 16px;
}
.template {
    font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  color: #cad3f5;
  
  .work {

    border-radius: 8px;
    background-color: #363a4f;
    label {
      font-size: 30px;
      font-weight: 900;
    }
  }
  .work:hover {
    background-color: #6e738d;
  }
}

.music {
  color: #cad3f5;

  .image {
    border-radius: 8px;
    background-size: cover;
  }

  .label {
    padding-top: 4px;
    font-size: 14px;
    font-weight:bold;

  }
  .label tooltip {
    background-color: black;
  }

  .box-buttons {
    button {
      font-size: 28px;
      border-radius: 8px;
    }
    button:hover {
      background-color: #6e738d;
    }
    .status {
    }
  }
}

.quote {
  background-color: #24273a;
  border-radius: 16px;
}


