*{
  all: unset;
}
.StatusBar {
  padding: 0 5px;
  background-color: #24273a;
  font-family: "CaskaydiaMono Nerd Font";
  color: #cad3f5;
}
.clock_label {
  font-weight: bold;
  font-size: 16px;
}

.bottom {
  padding-bottom: 10px;
}
.brightness {
  scale trough highlight {
    background-color: #8aadf4;
  }
  button {
    font-size: 18px;
  }
}
.volume {
  scale trough highlight {
    background-color: #c6a0f6;
  }
  .label {
    font-weight: bold;
    font-size: 14px;
  }
  button {
  }
}

scale {
  all: unset;
  padding: 5px 0;
  trough{
    min-height: 80px;
    min-width: 10px; 
    border-radius: 10px;
    background-color: #494d64;
    highlight {
      border-radius: 10px;
    }
  }
}
